/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *

 *= require admin/spree_core
 *= require admin/spree_auth
 *= require admin/spree_promo

 *= require shared/jquery-ui-timepicker-addon
 *= require shared/textAngular
 *= require shared/ng-tags-input.min

 *= require_self
 *= require_tree .
*/

.container {
  width: 1000px;
}
.container .sixteen.columns {
  width: 980px;
}

.container .seven.columns {
  width: 410px;
}

.container .thirteen.columns {
  width: 800px;
}

.container .eight.columns {
  width: 480px;
}

.container .one.column, .container .one.columns {
  width: 50px;
}

.container .four.columns {
  width: 230px;
}

.container .twelve.columns {
  width: 720px;
}

.container .two.columns {
  width: 120px;
}

li.tab-with-icon {
  span{
    font-size: 12px;
  }
}

.side_menu a.menu_item {
  span {
    font-size: 15px;
  }
}
